<link rel="import" href="../../web-lib/polymer/polymer.html">

<dom-module id="article-link">

  <style>
  	a {
  		font-size: 14px;
		text-decoration: none;
		color: black;
	}
    div {
    	overflow: auto;
    	margin: 10px;
    	padding: 5px;
    	border-left: solid 10px gray;
	}
	div:hover {
    	border-left: solid 10px green;
	}
	h3 {
		font-size: 15px;
		margin: 0;
		margin-bottom: 2px;
		padding: 2px;
		border-bottom: solid 1px black;
	}
	.small {
		float: right;
		font-size: 12px;
		vertical-align: top;
	}
	.small:after {
		float: none;
	}
	.large {
		font-size: 20px; 
	}
	p {
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
  </style>

  <template>
    <a href$="[[href]]"><div class="shadow-button">
    	<time class="datetime">[[datetime]] 更新</time>
    	<h3>[[title]]</h3>
    	<show-evaluation point="[[point]]"></show-evaluation>
    	<aside>
			<content></content>
		</aside>
    </div></a>
  </template>

  <script>
    Polymer({
      is: "article-link",
      properties: {
      	href: {
	      	type: String
      	},
      	title: {
	      	type: String
      	},
      	datetime: {
	      	type: String
      	},
      	point: {
	      	type: String
      	}
      }
    });
  </script>

</dom-module>