<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <link rel="shortcut icon" type="image/png" href="img/icon.png"/>
    <title>Login</title>
</head>
<body>
<div class="wrapper">
    <div class="login-form">
        <img src="img/revie.png"/>
        <form th:action="@{/Login/Auth}" method="post">
            <div class="bs-callout bs-callout-danger" role="alert" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}!=null">
                <h4 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></h4>
            </div>
            <input type="text" name="userId" placeholder="User ID"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="submit" value="Login"/>
        </form>
    </div>
</div>
</body>
</html>