<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
	<link rel="shortcut icon" type="image/png" href="img/icon.png"/>
	<title>Login</title>
</head>
<body>
	<div class="wrapper">
	<div class="login-form">
		<img src="img/revie.png"/>
		<form method="post">
			<input type="text" name="userId" placeholder="User ID"/>
			<input type="password" name="password" placeholder="Password"/>
			<input type="button" value="Login"/>
		</form>
	</div>
	</div>
</body>
</html>