<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=450px" />
	<script src="/web-lib/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/revie.css"/>
	<link rel="import" href="/custom-tag/layout/contents-container.html"/>
	<link rel="import" href="/custom-tag/layout/main-content.html"/>
	<link rel="import" href="/custom-tag/layout/sub-content.html"/>
	<link rel="import" href="/custom-tag/component/circle-button.html"/>
	<link rel="import" href="/custom-tag/component/article-link.html"/>
	<link rel="import" href="/custom-tag/component/text-link.html"/>
	<link rel="import" href="/custom-tag/component/menu-button.html"/>
	<link rel="import" href="/custom-tag/component/menu-separator.html"/>
	<link rel="import" href="/custom-tag/component/search-box.html"/>
	<link rel="import" href="/custom-tag/component/show-evaluation.html"/>
	<link rel="import" href="/custom-tag/component/small-button.html"/>
	<link rel="import" href="/custom-tag/util/fixed-component.html"/>
	<link rel="import" href="/custom-tag/modal/modal-window.html"/>
	<link rel="import" href="/custom-tag/modal/modal-content.html"/>
	<script src="/web-lib/jquery/dist/jquery.js"></script>
	<script src="/js/modal.js"></script>
	<link rel="shortcut icon" type="image/png" href="/img/icon.png"/>
	<title>Re:Vie</title>
</head>
<body>
	<header>
		<a href="/"><img src="/img/revie.png" style="width: 200px;"/></a>
		<search-box></search-box>
	</header>
	<div>レヴィ</div>

	<div th:include="main-menu :: main-menu"></div>

	<contents-container>
		<main-content th:include="__${mainContentPath}__"></main-content>
		<sub-content th:include="sub-content :: sub-content"></sub-content>
	</contents-container>
	
	<footer>
		Footer
	</footer>
	
</body>
</html>