<div th:fragment="update-form">
	<h1>記事編集</h1>
	<form role="form" class="input-form" action="/Update/Confirm" th:action="@{/Update/Confirm}" th:object="${article}" method="post">
		<input type="hidden" name="id" th:value="*{id}"></input>
		<div class="input-label">◼タイトル</div>
		<div class="input-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
		<input type="text" class="input-title" name="title" th:field="*{title}"/>
		<div class="input-label">◼公開</div>
		<div class="input-error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
		<div class="input-error" th:if="${#fields.hasErrors('month')}" th:errors="*{month}"></div>
		<input type="number" class="input-year" th:field="*{year}"/>年<input type="number" class="input-month" th:field="*{month}"/>月
		<div class="input-label">◼邦画/洋画</div>
		<div class="input-error" th:if="${#fields.hasErrors('movieType')}" th:errors="*{movieType}"></div>
		<th:block th:each="movieType, stat : ${movieTypes}">
			<label>
				<input type="radio" th:field="*{movieType}" th:value="${movieType}"/>
				<div class="input-movie-type" th:text="${movieType.name}"></div>
			</label>
		</th:block>
		<div class="input-label">◼カテゴリ</div>
		<div class="input-error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></div>
		<th:block th:each="category : ${categories}">
			<label>
				<input type="checkbox" th:field="*{categories}" th:value="${category}"/>
				<div class="input-categories" th:text="${category.name}"></div>
			</label>
		</th:block>
		<div class="input-label">◼評価</div>
		<div class="input-error" th:if="${#fields.hasErrors('point')}" th:errors="*{point}"></div>
		<input type="number" class="input-point" th:field="*{point}"/> / 100点
		<div class="input-label">◼内容</div>
		<div class="input-error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
		<textarea class="input-text" th:field="*{text}"></textarea>
		<th:block th:replace="update-article :: update-article-relations"></th:block>
		<input type="hidden" name="createdTime" th:value="*{#dates.format(createdTime, 'yyyy-MM-dd HH:mm:ss.S')}"></input>
		<input type="submit" value="確認する" />
		<a href="/"><input type="button" value="キャンセル" /></a>
	</form>
</div>

<div th:fragment="update-confirm">
	<h1>記事内容確認</h1>
	<div th:object="${article}">
		<div class="input-label">◼タイトル</div>
		<div class="input-confirm" th:text="*{title}"></div>
		<div class="input-label">◼公開</div>
		<div class="input-confirm" th:text="|*{year}年*{month}月|"></div>
		<div class="input-label">◼邦画/洋画</div>
		<div class="input-confirm" th:text="*{movieType.name}"></div>
		<div class="input-label">◼カテゴリ</div>
		<th:block th:each="category : *{categories}" th:object="${category}">
			<div style="display: inline-block;" class="input-confirm" th:text="*{name}"></div>
		</th:block>
		<div class="input-label">◼評価</div>
		<div class="input-confirm" th:text="|*{point} /100点|"></div>
		<div class="input-label">◼内容</div>
		<div class="input-confirm" th:text="*{text}"></div>

		<form role="form" style="display: inline-block" action="/Update/Register" th:action="@{/Update/Register}" method="post">
			<div th:replace="update-article :: update-confirm-hidden"></div>
			<input type="submit" value="登録する" />
		</form>
		<form role="form" style="display: inline-block" action="/Update/Form/*{id}" th:action="@{/Update/Form/{id}(id=*{id})}" method="post">
			<div th:replace="update-article :: update-confirm-hidden"></div>
			<input type="submit" value="編集画面に戻る" />
		</form>
	</div>
</div>

<div th:fragment="update-confirm-hidden">
	<input type="hidden" name="id" th:value="*{id}"></input>
	<input type="hidden" name="title" th:value="*{title}"></input>
	<input type="hidden" name="year" th:value="*{year}"></input>
	<input type="hidden" name="month" th:value="*{month}"></input>
	<input type="hidden" name="movieType" th:value="*{movieType}"></input>
	<th:block th:each="category, stat : *{categories}">
		<input type="hidden" th:name="${'categories[' + stat.index + ']'}" th:value="${category}"></input>
	</th:block>
	<input type="hidden" name="point" th:value="*{point}"></input>
	<input type="hidden" name="text" th:value="*{text}"></input>
	<th:block th:replace="update-article :: update-article-relations"></th:block>
	<input type="hidden" name="createdTime" th:value="*{#dates.format(createdTime, 'yyyy-MM-dd HH:mm:ss.S')}"></input>
</div>

<div th:fragment="update-article-relations">
	<th:block th:each="subarticle, stat : *{articles}">
		<input type="hidden" th:name="${'articles[' + stat.index + '].id'}" th:value="${subarticle.id}"></input>
		<input type="hidden" th:name="${'articles[' + stat.index + '].title'}" th:value="${subarticle.title}"></input>
	</th:block>
</div>

<div th:fragment="update-registered">
	<h1>記事編集完了</h1>
	<div class="input-label" style="text-align: center;">記事の編集が完了しました。</div>
	<a href="/"><input type="button" value="TOPに戻る" /></a>
</div>