<link rel="import" href="../../web-lib/polymer/polymer.html">

<dom-module id="sub-content">

	<style>
		.wrapper {
			height: 1000px;
			width: 100%;
			margin: 0px;
			padding: 0px;
		}
		
		.contents {
			height: inherit;
			margin: 0px;
			padding: 20px;
		}

		@media screen and (min-width: 630px){
		.wrapper {
			float: right;
			width: 250px;
		}
		}
	</style>

	<template>
		<div class="wrapper">
			<div class="contents">
				<content></content>
			</div>
		</div>
	</template>
	
	<script>
	    Polymer({
	      is: "sub-content"
	    });
	</script>

</dom-module>